li.todo {

  list-style-type: none;
  padding: 0.5em 1.3em;
  position: relative;

  &.completed {

    text-decoration: line-through;

    .todo-text {

      opacity: 0.8;
    }
  }

  div.todo-check, span.close {

    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  div.todo-check {

    left: 0;

    input {

      margin: 0;
      cursor: pointer;
    }
  }

  span.close {

    right: 0;
    opacity: 0.5;
    cursor: pointer;
  }

  &:hover {

    span.close {

      color: inherit;
      opacity: 1;
    }
  }
}
