.todo-input {

  position: relative;
  height: 35px;
  margin: 0;
  
  div.checkbox {

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;

    input {

      margin: 0;
    }
  }

  div.input {

    height: 100%;

    input {

      height: 35px;
      display: block;
      width: 100%;
      border: none;
      outline: none;
      font-size: 1em; 
    }
  }
}
