{
  "plugins": [
    [
      "transform-jsx",
      {
        "function": "Component.createElement",
        "useNew": "true",
        "useVariables": "true"
      }
    ],
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env"
    ]
  ]
}